$color-primary: #161618;
$color-secondary: hsl(43, 82%, 66%);
$color-primary-light:#979799;
$color-secondary-light: hsl(43, 73%, 85%);

$color-light: #f4f4f4;
$color-dark: #000000;

$color-grey-dark: #161618;
$color-grey-light: #e5e5e5;

$accent-color: #355cc9;